<!DOCTYPE html>
<html>
  <head>
    <title>Amanom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="description" content="An Amazon clone for snacks. Built with React, Redux, Ruby on Rails, PostgreSQL, and Webpack." />
    <meta name="title" property="og:title" content="Amanom" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/51588871512_158c89cc30_b.jpg" />
    <meta name="description" property="og:description" content="An Amazon clone for snacks. Built with React, Redux, Ruby on Rails, PostgreSQL, and Webpack." /><meta name="author" content="Ezekiel Yu" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
